/*

Estilos del juego: Campo Minado!

*/

/* Le quitamos el borde a los selectores del campo (los que indican las dimensiones del juego). */
.selector{
border: none;
}

.loader{
display: none;
}

header, footer { width: 100%; height: 100px; /* background: #666; */ font-size: 2em; text-align: center; clear: both; } 
section { position: relative; } 
#CajaIzquierda { position: relative; width: 70%; top: 0; left: 0; background: #ccc; float: left; height: 200px; } 
#CajaDerecha { position: relative; width: 30%; top: 0; right: 0; background: #ddf; float: right; height: 200px; } 
/* .esqinfder { position: absolute; bottom: 5px; right: 5px; background: #ff0; } */